html {
	background-color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	display: grid;
	grid-template-rows: 0.2fr 0.1fr 5.7fr 0.2fr;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
}

main {
	background-color: rgb(87, 86, 86);
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "section1";
}

section {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"art1 art2" 
	"art4 art3";
}

article {

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.art1 {
	display: grid;
	grid-area: art1;
	
}

.art2 {
	display: grid;
	grid-area: art2;
}


.art3 {
	display: grid;
	grid-area: art3;
}

 .art4 {
	display: grid;
	grid-area: art4;
}
/*
.art5 {
	display: grid;
	grid-area: art5;
}

.art6 {
	display: grid;
	grid-area: art6;
}

.art7 {
	display: grid;
	grid-area: art7;
} */

.nav {
	display: grid;
	grid-area: nav;
	border: solid 1px white;
}

.header {
	display: grid;
	grid-area: header;
}

.main {
	display: grid;
	grid-area: main;
}

.footer {
	display: grid;
	grid-area: footer;
}

.section1 {
	display: grid;
	grid-area: section1;
	border-right: black 1px solid;
}

/* .section2 {

	display: grid;
	grid-area: section2;
	border-right: black 1px solid;
}
.section3 {
	display: grid;
	grid-area: section3;
	border-right: black 1px solid; 
}

.section4 {
	display: grid;
	grid-area: section4;
	border-right: black 1px solid;
}
.section5 {
	display: grid;
	grid-area: section5;
	border-right: black 1px solid;
}*/
nav {
	background: linear-gradient(rgb(88, 88, 88), rgb(88, 88, 88), black);
	color: white;
}

nav ul {
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 50px;
}

nav li {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

nav ul li a {
	display: flex;
	color: white;
	font-size: 18px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.a-1:hover {
	background-color: #ffe433;
	color: black;
	border: black solid 3px;
	cursor: pointer;
	transition: all 1s;
}

.a-2:hover {
	background-color: rgb(255, 93, 43);
	color: black;
	border: black solid 3px;
	cursor: pointer;
	transition: all 1s;
}

.a-3:hover {
	background-color: rgb(98, 111, 232);
	color: black;
	border: black solid 3px;
	cursor: pointer;
	transition: all 1s;
}

header {
	display: flex;
	width: 100%;
	left: 0;
	right: 0;
	padding: 7px;
	flex-direction: row;
	background: linear-gradient(black, rgb(88, 88, 88));
	color: white;
}

header hgroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "h-img h-title h-botton";
}

header hgroup div button {
	width: 80%;
	height: 50px;
}

header div img {
	width: 400px;
	height: 150px;
}

.h-img {
	display: grid;
	grid-area: h-img;
}

.h-title {
	display: grid;
	grid-area: h-title;
	text-align: center;
}

.h-botton {
	display: grid;
	grid-area: h-botton;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header hgroup div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

footer {
	background-color: black;
	color: white;
	display: grid;
	padding: 7px;
	grid-template-rows: 100%;
	grid-template-columns: 0.6fr 1fr 0.8fr;
	grid-template-areas: "f-div1 f-div2 f-div3";
	bottom: 0;
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .f-div1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}

footer .f-div2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer .f-div3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer div img {
	width: 250px;
	height: 70px;
}

.f-div1 {
	display: grid;
	grid-area: f-div1;
}

.f-div2 {
	display: grid;
	grid-area: f-div2;
	text-align: center;
}

.f-div3 {
	display: grid;
	grid-area: f-div3;
}
.div-joker{

	display: none;
	}
	.div-joker .button-joker{
	
		float: right;
		position: fixed;
		right: 20px;
		color: yellow;
		font-style: bold;
		
	}
/*----------------DE AQUI PARA ABAJO PUEDEN HACER NUEVO CODIGO CSS PARA SUS ESTILOS PROPIOS--------------*/

.contenedor {
	text-align: center;
}

.izq_text {
	
	float: left;

	/* background-color: rgb(34, 160, 118); */
	color: white;
	width: 350px;
	font-family: Stencil Std, fantasy;
}

.der_video {
	
	float: right;
	color: white;
	font-family: Jazz LET, fantasy;
}

.der_video iframe {
	border: 10px rgb(73, 73, 109) solid;
}

.cen_img {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
}

a:hover{
    background-color: brown;
    color: yellow;
    transition:2s all;
}